//div{
//  background-color : rgba(255,255,255) ;// rgb(255,255,255)
//  color: hsl(0,100%,25%);
//
//}
//div{
//  color: #ff00ff;
//}
//div{
//  color: rgba(255, 0 , 0, .25);
//  background-color: #fffff0;
//}
//
////Jednostki sa dzielone na takie dzialy jak
////absolutny i realatywny
//div{
//  font-size: 3em;
//  height: 100px;
//}
////Jednostka absolutna to px
////Upakowanie pikseli rzedu 96 dpi
//
//
////-=-----------------------------------
////Jednostki realtywne to em
////1 em = 1 * font-size
//
//
//html{
//  font-size: 16px;
//}
//section{
//font-size: 20px;
//}
//h1{
//  font-size: 2em;
//}
//// 2 em  {2 * 20}
////jednostka rem jednak zabierane dane od naszego dziadka nie rodzica
////czyli
//html{
//  font-size: 14px;
//}
//section{
//  font-size: 20px;
//}
//h1{
//  font-size: 2rem;
//}
//// 2rem  {2*14}
//section{
//  width: 35%;
//  border: 5px solid;
//}
////zmienne
//section{
//  --base-color: hsla(206,100%, 50%, 1);
//  --base-margin: 10px
//}

//:root{ //deklaruje zmiene globalne calosciowe
//  --primary-color: red;
//  --font-size: 20px;
//}
//
//.main-article{ //deklaruje zmiene lokalne
//  --bg-color: tomato;
//  --font-weight:600;
//
//}
//:root{
//  --primary-color: red;
//  --font-size:20px;
//}
//.link{
//  color: var(--primary-color);
//  font-size: calc(var(--font-size) * 1.5);
//}
////do metody var mozna jeszcze polaczyc metoda cal , dzieki czemu nasz kod jest bardziej dynamiczny i orginalny

:root{
  --bg--color:rgba(255, 0, 0, 0.5);
  --bg--radius: 8px solid blue;
}

section{
  width:160px ;
  height: 160px;
}
div{
  width: 2em;
  height: 2em;
  background-color: var(--bg--color);
  border:var(--bg--radius) ;

}