.grid-layout{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    height: 100%;
}
.grid-layout > div:first-child{
    background-color: #213547;
    color: #FC0031;
    padding: 20px;
    border-radius: 10px;
}
.grid-layout > div:last-child{
    background-color:aqua;
    color: #646cff;
    padding: 20px;
    border-radius: 10px;

}